<header>
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/logo.svg">
    <p><strong>Vurb.</strong>Agency</p>
  </a>
  <ul>
    <li><a href="{{ site.baseurl }}/">Introduction</a></li>
    <li><a href="{{ site.baseurl }}/activities">Activities</a></li>
    <li><a href="{{ site.baseurl }}/team">Team</a></li>
    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
  </ul>
</header>
